body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px;
    color: black;
    background: linear-gradient(135deg, #98d2f5, #a0f2a0);
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: -1;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.header-container .logo {
    width: 130px;
    transition: transform 0.3s;
    margin-right: 130px;
}

.header-container .logo:hover {
    transform: scale(1.05);
}

.header-container h1 {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    color: blue;
    margin: 0;
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: 1px;
    flex-grow: 1;
    text-align: left;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

th {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f39c12;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
}

td {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.action-buttons {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 12px 20px;
    margin: 0 10px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button[type="submit"]:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

button[type="submit"][value="view"] {
    background-color: blueviolet;
    color: white;
}

button[type="submit"][value="update"] {
    background-color: orange;
    color: white;
}

button[type="submit"][value="delete"] {
    background-color: #e12a16;
    color: white;
}

.log-button {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.logout-btn {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 200px;
}

.logout-btn:hover {
    background-color: #c0392b;
}

@media (max-width: 768px) {
    .order-table {
        display: block;
        overflow-x: auto;
    }

    th, td {
        padding: 10px;
    }

    h1 {
        font-size: 2.2rem;
    }
}
